
@import url('https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro');

html, body{
    height: 100%;
    width: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, iframe {
    margin: 0;
    padding: 0;
}

body{
    min-height: 700px;
    background: linear-gradient(#BBF1FF, #4D7BC0) scroll no-repeat;
    background-size: 100% 100%;
    font-family: "Source Sans Pro";
    color: #C2C2C2;
}
section{
    padding: 100px 0;
    padding-bottom: 50px;
}

#navbar{
    background-color: #4D7BC0;
    height: 5em;
    padding-top: 1em;
    padding-left: 4em;
    padding-right: 4em;
}

#navbar li{
    display: inline-block;
    list-style-type: none;
    padding: 20px 25px;
    text-decoration: none;  
    color: #fff;
}
#navbar li:hover{
    background-color: rgba(221, 221, 221, 0.43);
}
#navbar li a{
    text-decoration: inherit;
    color: inherit;
}

.navbar-right{
    float: right!important;
    margin-right: -15px;
}

#download{
    padding-top: 50px;
}

.container{
    width: 970px;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}

.bg-primary{
    background-color: #46a5f0;
}
