body {
    background: url(https://media.giphy.com/media/SJ1woRr6sw276/200.gif) no-repeat;
    background-size: cover;
    text-align: center;
}

button {
    cursor: pointer;
    margin-top: 500px;
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 90px;
}
